Source: vdr-plugin-upnp
Section: video
Priority: extra
Maintainer: Holger Schvestka <hotzenplotz5@gmx.de>
Build-Depends: debhelper (>= 8), vdr-dev (>= 1.7.27), gettext, libupnp3-dev, libsqlite3-dev, libavcodec-dev, libavformat-dev, libboost-dev, libtntnet-dev, libtntdb-dev
Standards-Version: 3.9.3
Homepage: http://upnp.vdr-developer.org

Package: vdr-plugin-upnp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${vdr:Depends}
Description: This vdr-plugin extends the VDR with the possibility to act as an UPnP/DLNA Media Server
 This Plugins extends the VDR with the possibility to act as an UPnP/DLNA Media
 Server (DMS). It will serve VDR's contents in the network to any UPnP-AV and
 DLNA capable devices.

Package: vdr-plugin-upnp-dbg
Architecture: any
Section: debug
Priority: extra
Depends: vdr-plugin-upnp (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for vdr-plugin-upnp
 .
 This package contains only the debugging symbols for vdr-plugin-upnp

